{% extends "layout.html.twig" %}

{% block content %}
    {% set asset_path = '/img/' %}

    {% for question in questions %}
        {% set img = asset_path ~ question.id ~ ".png" %}
        <section id="{{ question.id }}">
            <p>
                <b><a href="#{{ question.id }}">{{ question.id }}</a>: {{ question.title }}</b>
                {% if img is ondisk %}
                <br /><img src="{{ img }}" alt="{{ question.id }}">
                {% endif %}
            </p>
            <ol type="a">
                {% for key,answer in question.availableAnswers %}
                    <li>
                        <label for="{{ question.id }}-{{ key }}">
                            <input type="radio" id="{{ question.id }}-{{ key }}" name="{{ question.id }}" value="{{ key }}">
                            {{ answer }}
                        </label>
                    </li>
                {% endfor %}
            </ol>
            {% if question.correctAnswers != '' %}
            <details>
                <summary>odp</summary>
                <p>{{ question.correctAnswers }}</p>
            </details>
            {%  endif %}
            {% if question.hint != '' %}
            <details>
                <summary>hint</summary>
                <p>{{ question.hint }}</p>
            </details>
            {%  endif %}
        </section>
    {% endfor %}
{% endblock %}
